<?xml version="1.0"?>
<!--

    GRAL: GRAphing Library for Java(R)

    (C) Copyright 2009-2015 Erich Seifert <dev[at]erichseifert.de>,
    Michael Seifert <michael[at]erichseifert.de>

    This file is part of GRAL.

    GRAL is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GRAL is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with GRAL.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="${checkstyle.severity}" default="warning"/>
    <module name="JavadocPackage"/>
    <module name="NewlineAtEndOfFile">
        <property name="severity" value="info"/>
    </module>

    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>
        <module name="JavadocType">
            <property name="scope" value="protected"/>
        </module>
        <module name="JavadocMethod">
            <property name="scope" value="protected"/>
            <property name="allowUndeclaredRTE" value="true"/>
        </module>
        <module name="JavadocVariable">
            <property name="scope" value="protected"/>
        </module>
        <module name="LineLength">
            <property name="severity" value="info"/>
            <property name="max" value="100"/>
        </module>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="NeedBraces"/>
        <module name="Regexp">
            <property name="severity" value="error"/>
            <property name="format" value="System\.(out|err)\.print"/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
        <module name="TodoComment">
            <property name="severity" value="info"/>
        </module>
        <module name="UnnecessaryParentheses">
            <property name="severity" value="info"/>
        </module>
        <module name="UnusedImports">
            <property name="severity" value="info"/>
        </module>
        <module name="UpperEll"/>
    </module>
</module>
